let g:python2_host_prog = '/usr/local/bin/python'
let g:python3_host_prog = '/usr/local/bin/python3'
" ass
let g:mapleader=','

set tabstop=2
set shiftwidth=2
set expandtab

call plug#begin()

Plug 'vimlab/neojs'

try 
	source ~/.config/nvim/neojs.plug
catch
endtry

Plug 'scrooloose/nerdtree'
Plug 'Xuyuanp/nerdtree-git-plugin'
Plug 'mxw/vim-jsx'
Plug 'isRuslan/vim-es6'
Plug 'sbdchd/neoformat'

call plug#end()

set nu
autocmd vimenter * NERDTree
autocmd vimenter * wincmd p
autocmd bufenter * if (winnr("$") == 1 && exists("b:NERDTree") && b:NERDTree.isTabTree()) | q | endif
nmap <leader>m :NERDTreeToggle<CR>
nmap <leader>n :NERDTreeFind<CR>

" prettier
let g:neoformat_try_formatprg = 1
autocmd FileType javascript.jsx,javascript set formatprg=prettier\ --stdin\ --parser\ flow\ --single-quote\ --semi\ false 
autocmd BufWritePre *.js Neoformat
autocmd BufWritePre *.jsx Neoformat

" neovim 2
set mouse=a



"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" neojs.plug
Plug 'tpope/vim-sensible'
Plug 'Shougo/unite.vim'
Plug 'Shougo/deoplete.nvim'
Plug 'sirver/ultisnips'
Plug 'honza/vim-snippets'
Plug 'vimlab/split-term.vim'
Plug 'moll/vim-node'
Plug 'othree/yajs.vim'
Plug 'pangloss/vim-javascript'
Plug 'nono/vim-handlebars'

Plug 'benekastah/neomake',        { 'do': 'npm install --cache-min Infinity --loglevel http -g eslint jsonlint' }
Plug 'carlitux/deoplete-ternjs',  { 'do': 'npm install --cache-min Infinity --loglevel http -g tern' }
Plug 'ternjs/tern_for_vim',       { 'do': 'npm install --cache-min Infinity --loglevel http' }
Plug 'neovim/node-host',          { 'do': 'npm install --cache-min Infinity --loglevel http' }

